body {
    background-color: #eb9127;
    color: white;
    font-family: Helvetica, Arial, sans-serif;
}

h1,h2,h3 {

}

a {
    text-decoration: none;
    color: white;
}

p {

}

ul {

}

.formContainer {

}

form {
    display: inline-grid;
    grid-template-columns: auto auto;
    grid-gap: 10px;
}

.grid-item {

}
