body {
    background-color: #eb9127;
    color: white;
}

h1,h2,h3 {
    font-family: Helvetica, Arial, sans-serif;
    /*color: white;*/
}

a {
    text-decoration: none;
    font-family: Helvetica, Arial, sans-serif;
    /*color: white;*/
}

p {
    font-family: Helvetica, Arial, sans-serif;
    /*color: white;*/
}

.formContainer {
    display: grid;
    grid-template-columns: auto auto;
    background-color: #464646;
    grid-gap: 10px;
}

.grid-item {
    background-color: red;
}
